@charset "UTF-8";
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-container {
  max-width: 100rem;
  padding: 0 100px;
  margin: 0 auto;
}

.header-container__wrapper {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0 1.5625rem rgba(155, 193, 215, 0.55));
}

.header-container__wrapper-height {
  height: 70px;
}

.header-container__wrapper-white {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #edf6fc;
  padding: 0 2vw;
}

.while-flex__Catalog ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2vw;
}

.catalog-item__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.catalog-item__list:first-child {
  position: relative;
}

.header-container__wrapper-black {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  border-radius: 0 0 20px 20px;
}

.black-flex {
  width: 90%;
  box-sizing: border-box;
}
.black-flex ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.black-flex ul li {
  flex: 0 0 auto;
}
.black-flex ul::-webkit-scrollbar {
  display: none;
}

.while-flex__Logo {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
  color: #273461;
  position: relative;
  cursor: pointer;
}
.while-flex__Logo strong {
  color: #000;
}
.while-flex__Logo::before {
  content: "Арена";
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  color: #273461;
  position: absolute;
  top: -15%;
  right: -50%;
}

.catalog-item__list {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(16px, 0.93vw, 20px);
  font-weight: 500;
  line-height: 1.75rem;
  color: #273461;
}

.black-flex__catalog a {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(16px, 0.93vw, 20px);
  font-weight: 500;
  line-height: 1.75rem;
  color: #273461;
  color: #fff;
}

.header-container__template {
  width: 10vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: -100%;
  left: 0%;
  opacity: 0;
  visibility: hidden;
}
.header-container__template .template-item a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.header-container__template .template-item__link {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  color: #000;
}
.header-container__template .template-item__link-svg {
  width: 25px;
  height: 25px;
}

.catalog-item:first-child {
  position: relative;
}

.catalog-item:first-child:hover .header-container__template {
  width: 15vw;
  border-radius: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  transform: translateY(50%);
  transition: transform ease-in-out 0.5s;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  filter: drop-shadow(0 0 1.5625rem rgba(155, 193, 215, 0.55));
}
.catalog-item:first-child:hover .header-container__template a {
  margin: 5px 1vw;
}

.template-item:hover {
  background-color: #0194d8;
  border-radius: 10px;
  transition: all 0.5s;
}

.while-flex__Logo:hover {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
  position: relative;
  color: #0194d8;
  transition: all 0.5s;
}
.while-flex__Logo:hover strong {
  color: #000;
}
.while-flex__Logo:hover::before {
  content: "Арена";
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  color: #0194d8;
  position: absolute;
  top: -15%;
  right: -50%;
}

.catalog-item__list:hover {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(16px, 0.93vw, 20px);
  font-weight: 500;
  line-height: 1.75rem;
  color: #273461;
  color: #0194d8;
  transition: all 0.5s;
}

.black-flex__catalog a:hover {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(16px, 0.93vw, 20px);
  font-weight: 500;
  line-height: 1.75rem;
  color: #273461;
  color: #0194d8;
  transition: all 0.5s;
}

@media (width < 770px) {
  .header-container {
    max-width: 150rem;
    padding: 0 40px;
    margin: 0 auto;
  }
  .header-container__wrapper-white {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 1vw 2vw;
  }
  .while-flex__Logo::before {
    content: "";
  }
}
@media (width < 470px) {
  .header-container__wrapper-white {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vw 4vw;
  }
  .catalog-item__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  .while-flex__Catalog li:not(:first-child) {
    display: none;
  }
  .while-flex__Catalog li:nth-child(3n) {
    display: block;
  }
  .header-container {
    max-width: 100%;
    padding: 0 0;
    margin: 0 auto;
  }
}
@media (width < 1500px) {
  .catalog-item:first-child:hover .header-container__template {
    width: 15vw;
    transform: translateY(40%);
  }
}
@media (width < 1150px) {
  .catalog-item:first-child:hover .header-container__template {
    width: 25vw;
    transform: translateY(40%);
  }
}
@media (width < 700px) {
  .catalog-item:first-child:hover .header-container__template {
    width: 40vw;
    transform: translateY(35%);
  }
}
@media (width < 470px) {
  .catalog-item:first-child:hover .header-container__template {
    width: 60vw;
    transform: translateY(40%);
    left: -250%;
  }
}
/* registr menu */
.registrMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transform: translateY(-100%);
  transition: transform 1s;
}

.registrMenu.open {
  transform: translateY(0);
  transition: transform 1s;
}

.registrMenu__Modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  z-index: 1;
  border-radius: 25px;
  padding: 0 25px;
  position: relative;
}

.registrMenu__Modal-close {
  position: absolute;
  top: 5%;
  right: 5%;
  border: 0;
  border-radius: 50%;
  padding: 1rem;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: linear-gradient(0.38turn, #c9c9c9, #ffffff);
}
.registrMenu__Modal-close img {
  width: 100%;
  height: 100%;
}

.registrMenu__Modal-SignIn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
  border-radius: 25px 0 0 25px;
  background-color: #fff;
  padding: 2rem;
}
.registrMenu__Modal-SignIn .SignIn-title {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
  font-weight: 800;
  color: #000;
  text-align: center;
}
.registrMenu__Modal-SignIn .SignIn-Social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1.5rem;
}
.registrMenu__Modal-SignIn .SignIn-Social .Social_cont-btn {
  border: 0;
  border-radius: 50%;
  padding: 1rem;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: linear-gradient(0.38turn, #c9c9c9, #ffffff);
}
.registrMenu__Modal-SignIn .SignIn-Social .Social_cont-btn:hover {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.15);
}
.registrMenu__Modal-SignIn .SignIn-Social .Social_cont-btn img {
  width: 100%;
  height: 100%;
}
.registrMenu__Modal-SignIn .SignIn-formReg {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.registrMenu__Modal-SignIn .SignIn-formReg input {
  border: 0;
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: linear-gradient(0.38turn, #c9c9c9, #ffffff);
  padding: 1rem;
  width: calc(100% - 2rem);
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
}
.registrMenu__Modal-SignIn .SignIn-formReg input:hover {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.15);
}
.registrMenu__Modal-SignIn .SignIn-formReg button {
  border: 0;
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: linear-gradient(0.38turn, #c9c9c9, #ffffff);
  padding: 0.75rem 2rem;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
}
.registrMenu__Modal-SignIn .SignIn-formReg button:hover {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.15);
}
.registrMenu__Modal-SignIn .SignIn-forget {
  text-align: center;
}
.registrMenu__Modal-SignIn .SignIn-forget a {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  position: relative;
}
.registrMenu__Modal-SignIn .SignIn-forget a::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0%;
  bottom: -10%;
  transform: scale(0);
  transition: transform 1s;
  transform-origin: right;
}
.registrMenu__Modal-SignIn .SignIn-forget a:hover::before {
  transform: scale(1);
  transition: transform 1s;
  transform-origin: left;
}

.registrMenu__Modal-SignUp {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
  background-color: #0194d8;
  border-radius: 0 25px 25px 0;
  padding: 2rem;
}
.registrMenu__Modal-SignUp .SignUp-title {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
  font-weight: 800;
  color: #000;
  text-align: center;
  line-height: 1.5rem;
  font-size: clamp(24px, 1.5vw, 32px);
}
.registrMenu__Modal-SignUp .SignUp-btnRegistr {
  border: 0;
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: linear-gradient(0.38turn, #c9c9c9, #ffffff);
  padding: 0.75rem 2rem;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
}
.registrMenu__Modal-SignUp .SignUp-btnRegistr:hover {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.15);
}
.registrMenu__Modal-SignUp .SignIn-desc {
  text-align: center;
}
.registrMenu__Modal-SignUp .SignIn-desc a {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  position: relative;
}
.registrMenu__Modal-SignUp .SignIn-desc a::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0%;
  bottom: -10%;
  transform: scale(0);
  transition: transform 1s;
  transform-origin: right;
}
.registrMenu__Modal-SignUp .SignIn-desc a:hover::before {
  transform: scale(1);
  transition: transform 1s;
  transform-origin: left;
}
.registrMenu__Modal-SignUp .SignUp-formReg {
  text-align: center;
}

@media (width < 675px) {
  .registrMenu__Modal {
    grid-template-columns: 1fr;
  }
  .registrMenu__Modal-SignIn {
    border-radius: 25px 25px 0 0;
  }
  .registrMenu__Modal-SignUp {
    border-radius: 0 0 25px 25px;
  }
}
.main {
  width: 100%;
}

.section1-container {
  max-width: 100rem;
  padding: 0 100px;
  margin: 0 auto;
}

.section1-container__movie {
  padding-top: 11rem;
}

.movie-video__mp4 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  max-width: unset;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.movie-video::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #1a1f4e 0, rgba(26, 31, 78, 0) 35.05%, #1a1f4e 79.31%);
  z-index: 2;
  pointer-events: none;
}

.movie-container {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5vw;
}

.movie-container__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu-ivents {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin-top: 9rem;
}
.menu-ivents h1 {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
  color: #fff;
  font-size: clamp(24px, 5vw, 68px);
  font-weight: 700;
}
.menu-ivents .menu-ivents__item:not(:first-child) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-ivents a {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 1.1vw, 24px);
  font-weight: 600;
  line-height: 1.75rem;
  color: #273461;
  color: #fff;
  position: relative;
}

.menu-ivents__link a::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform ease-in-out 0.5s;
}

.movie-container__ticket {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 15px;
  padding-bottom: 30px;
  gap: 2vw;
}
.movie-container__ticket::-webkit-scrollbar {
  width: 0;
}
.movie-container__ticket .ticket-layer {
  flex: 0 0 auto;
}

.ticket-layer {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  cursor: pointer;
  border-radius: 20px;
  background-color: #4987E5;
  filter: drop-shadow(-13px 16px 7px rgba(0, 0, 0, 0.15));
  transition: 1s;
}

.ticket-layer__image {
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.ticket-layer__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 100%;
  height: 100%;
  transition: 3s;
}
.ticket-layer__image h1 {
  position: absolute;
  left: 1vw;
  bottom: 3vw;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 1.1vw, 24px);
  font-weight: 600;
  line-height: 1.75rem;
  color: #273461;
  color: #fff;
  width: 70%;
  z-index: 2;
}
.ticket-layer__image p {
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  color: #fff;
  z-index: 2;
}

.ticket-layer__image::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(179.96deg, rgba(14, 18, 72, 0) 0.04%, #0e1248 99.97%);
  mix-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.ticket-layer__Buy {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(16px, 0.93vw, 20px);
  font-weight: 500;
  line-height: 1.75rem;
  color: #273461;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

@media (width < 1100px) {
  .ticket-layer__image h1 {
    position: absolute;
    left: 1vw;
    bottom: 5vw;
    font-family: "Open Sans", sans-serif;
    font-size: clamp(18px, 1.1vw, 24px);
    font-weight: 600;
    line-height: 1.75rem;
    color: #273461;
    color: #fff;
    width: 70%;
    z-index: 2;
  }
}
@media (width < 600px) {
  .ticket-layer__image h1 {
    position: absolute;
    left: 1vw;
    bottom: 8vw;
    font-family: "Open Sans", sans-serif;
    font-size: clamp(18px, 1.1vw, 24px);
    font-weight: 600;
    line-height: 1.75rem;
    color: #273461;
    color: #fff;
    width: 70%;
    z-index: 2;
  }
}
@media (width < 850px) {
  .menu-ivents__item img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
  }
  .section1-container {
    max-width: 100rem;
    padding: 0 30px;
    margin: 0 auto;
  }
}
@media (width < 650px) {
  .movie-container__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-ivents {
    margin-top: 5rem;
  }
  .menu-ivents-full {
    margin-top: 0;
  }
}
.ticket-layer__Buy:hover .ticket-layer {
  background-color: #0f4daa;
  transition: 1s;
}

.ticket-layer__image:hover img {
  scale: 1.15;
}

.menu-ivents__link a:hover::before {
  transform: scaleX(1);
  transition: transform ease-in-out 0.5s;
  transform-origin: right;
}

.section2-container {
  max-width: 100rem;
  padding: 5rem 100px 0 100px;
  margin: 0 auto;
}

.section2-container__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
}

.wrapper-element__header h1 {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
  color: #0C288A;
}

.wrapper-element__Date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5rem;
  overflow-x: auto;
}
.wrapper-element__Date::-webkit-scrollbar {
  width: 0;
}
.wrapper-element__Date .Date-item__number {
  flex: 0 0 auto;
}

.Date-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}

.Date-item__month h1 {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 1.1vw, 24px);
  font-weight: 600;
  line-height: 1.75rem;
  color: #273461;
  position: relative;
}

.Date-item__number {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
  overflow-x: auto;
}
.Date-item__number::-webkit-scrollbar {
  width: 0;
}
.Date-item__number .Date-item__number-link {
  flex: 0 0 auto;
}
.Date-item__number h1 {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 1.1vw, 24px);
  font-weight: 600;
  line-height: 1.75rem;
  color: #273461;
  font-size: clamp(16px, 0.93vw, 20px);
  color: #0C288A;
}
.Date-item__number p {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  color: #0C288A;
  opacity: 0.5;
}

.Date-item__month h1:before {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 1.1vw, 24px);
  font-weight: 600;
  line-height: 1.75rem;
  color: #273461;
}

.Date-item__month h1::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #0C288A;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform ease-in-out 0.5s;
}

.Date-item__number-link:hover h1 {
  color: #0194d8;
}

.Date-item__month h1:hover::before {
  transform: scaleX(1);
  transition: transform ease-in-out 0.5s;
  transform-origin: right;
}

.wrapper-element__ticket {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
}

.wrapper-element__ticket-grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.wrapper-element__ticket-grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.ticket-grid__container {
  position: relative;
  filter: drop-shadow(-13px 16px 7px rgba(0, 0, 0, 0.15));
}

.ticket-grid1__container-img {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.ticket-grid1__container-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 100%;
  height: 100%;
  transition: 3s;
}

.ticket-grid__container:hover img {
  transform: scale(1.1);
}

.ticket-grid1__container-item {
  padding: 1vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1vw;
}
.ticket-grid1__container-item .ticket-grid1__container-item_h1 {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
  color: #fff;
}
.ticket-grid1__container-item .ticket-grid1__container-item_textInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  color: #fff;
}
.ticket-grid1__container-item .ticket-grid1__container-item_button {
  padding-top: 2rem;
}
.ticket-grid1__container-item .ticket-grid1__container-item_button button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: #4987E5;
  border: 0;
  border-radius: 5px;
  height: 2vw;
  width: 8vw;
}
.ticket-grid1__container-item .ticket-grid1__container-item_button p {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  color: #fff;
  font-size: clamp(14px, 0.78vw, 16px);
}

@media (width < 1440px) {
  .ticket-grid1__container-item {
    padding: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1vw;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_h1 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(24px, 1.5vw, 32px);
    font-weight: 700;
    line-height: 2.5rem;
    color: #273461;
    color: #fff;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_textInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button {
    padding-top: 0;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button button {
    border-radius: 5px;
    height: 2.5vw;
    width: 8vw;
  }
}
@media (width < 1200px) {
  .section2-container {
    padding: 10rem 100px 0 100px;
  }
  .wrapper-element__ticket-grid2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 240px;
  }
  .grid__container3 {
    grid-column: 1/3;
  }
  .ticket-grid1__container-item {
    gap: 1vw;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_textInfo {
    gap: 1rem;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button {
    padding-top: 0;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button button {
    border-radius: 5px;
    height: 2.5vw;
    width: 10vw;
  }
}
@media (width < 950px) {
  .wrapper-element__Date {
    flex-direction: column;
    gap: 2rem;
  }
  .wrapper-element__ticket-grid2 {
    grid-template-columns: 1fr;
  }
  .wrapper-element__ticket-grid1 {
    grid-template-columns: 1fr;
  }
  .ticket-grid1__container-item {
    padding: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1vw;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_h1 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(24px, 1.5vw, 32px);
    font-weight: 700;
    line-height: 2.5rem;
    color: #273461;
    color: #fff;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_textInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: clamp(14px, 0.78vw, 16px);
    font-weight: 400;
    line-height: 1.5rem;
    color: #273461;
    color: #fff;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button {
    padding-top: 2rem;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: #4987E5;
    border: 0;
    border-radius: 5px;
    height: 3vw;
    width: 15vw;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button p {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(14px, 0.78vw, 16px);
    font-weight: 400;
    line-height: 1.5rem;
    color: #273461;
    color: #fff;
    font-size: clamp(14px, 0.78vw, 16px);
  }
}
@media (width < 650px) {
  .wrapper-element__ticket-grid2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .wrapper-element__ticket-grid2::-webkit-scrollbar {
    width: 0;
  }
  .wrapper-element__ticket-grid2 .ticket-grid__container {
    flex: 0 0 auto;
    width: 100%;
  }
  .wrapper-element__ticket-grid1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .wrapper-element__ticket-grid1::-webkit-scrollbar {
    width: 0;
    width: 100%;
  }
  .wrapper-element__ticket-grid1 .ticket-grid__container {
    flex: 0 0 auto;
  }
  .wrapper-element__ticket-grid2 {
    grid-template-columns: 1fr;
  }
  .wrapper-element__ticket-grid1 {
    grid-template-columns: 1fr;
  }
  .ticket-grid1__container-item {
    padding: 3vw;
    height: 90%;
    gap: 1vw;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_h1 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(24px, 1.5vw, 32px);
    font-weight: 700;
    line-height: 2.5rem;
    color: #273461;
    color: #fff;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_textInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: clamp(14px, 0.78vw, 16px);
    font-weight: 400;
    line-height: 1.5rem;
    color: #273461;
    color: #fff;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button {
    padding-top: 2rem;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: #4987E5;
    border: 0;
    border-radius: 5px;
    height: 7vw;
    width: 20vw;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button p {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(14px, 0.78vw, 16px);
    font-weight: 400;
    line-height: 1.5rem;
    color: #273461;
    color: #fff;
    font-size: clamp(14px, 0.78vw, 16px);
  }
}
@media (width < 770px) {
  .section2-container {
    max-width: 150rem;
    padding: 5rem 40px 0 40px;
    margin: 0 auto;
  }
}
@media (width < 470px) {
  .section2-container {
    max-width: 100%;
    padding: 5rem 10px 0 10px;
    margin: 0 auto;
  }
  .ticket-grid1__container-item {
    padding: 3vw;
    height: 90%;
    gap: 1vw;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_h1 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(24px, 1.5vw, 32px);
    font-weight: 700;
    line-height: 2.5rem;
    color: #273461;
    color: #fff;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_textInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: clamp(14px, 0.78vw, 16px);
    font-weight: 400;
    line-height: 1.5rem;
    color: #273461;
    color: #fff;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button {
    padding-top: 0rem;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: #4987E5;
    border: 0;
    border-radius: 5px;
    height: 10vw;
    width: 30vw;
  }
  .ticket-grid1__container-item .ticket-grid1__container-item_button p {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(14px, 0.78vw, 16px);
    font-weight: 400;
    line-height: 1.5rem;
    color: #273461;
    color: #fff;
    font-size: clamp(14px, 0.78vw, 16px);
  }
}
.section3-container {
  max-width: 100rem;
  padding: 5rem 100px 0 100px;
  margin: 0 auto;
}

.section3-container__News {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5rem;
}

.News-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.News-header__ivent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
}

.News-header__ivent-link {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.News-header__ivent a {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 1.1vw, 24px);
  font-weight: 600;
  line-height: 1.75rem;
  color: #273461;
  text-transform: uppercase;
}

.News-header__ivent:hover::before {
  transform: scaleX(1);
  transition: transform ease-in-out 0.5s;
  transform-origin: right;
}

.News-header__ivent::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #273461;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform ease-in-out 0.5s;
}

.News-template {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  grid-auto-rows: auto;
}

.News-template__container {
  background-color: #113864;
  height: 100%;
  cursor: pointer;
}

.News-template__container-text {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
.News-template__container-text h1 {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 1.1vw, 24px);
  font-weight: 600;
  line-height: 1.75rem;
  color: #273461;
  color: #fff;
  width: 80%;
}
.News-template__container-text p {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  color: #fff;
}

@media (width < 900px) {
  .section3-container__News {
    gap: 2rem;
  }
  .News-template {
    grid-template-columns: 1fr 1fr;
  }
}
@media (width < 900px) {
  .section3-container__News {
    gap: 2rem;
  }
  .News-template {
    grid-template-columns: 1fr;
  }
}
@media (width < 770px) {
  .section3-container {
    max-width: 150rem;
    padding: 5rem 40px 0 40px;
    margin: 0 auto;
  }
}
@media (width < 550px) {
  .News-header {
    display: flex;
    flex-direction: column;
  }
  .News-header__ivent-link {
    display: block;
  }
  .News-header {
    width: 150px;
  }
}
@media (width < 470px) {
  .section3-container {
    max-width: 100%;
    padding: 5rem 10px 0 10px;
    margin: 0 auto;
  }
}
.section4-container {
  max-width: 100rem;
  padding: 5rem 100px 0 100px;
  margin: 0 auto;
}

.section4-container__academy {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5rem;
}

@media (width < 770px) {
  .section4-container {
    max-width: 150rem;
    padding: 5rem 40px 0 40px;
    margin: 0 auto;
  }
  .section4-container__academy {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 3rem;
  }
}
@media (width < 470px) {
  .section4-container {
    max-width: 100%;
    padding: 5rem 10px 0 10px;
    margin: 0 auto;
  }
  .section4-container__academy {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
  }
}
.academy-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
}
.academy-header .academy-header__Logo h1 {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
  font-size: clamp(24px, 2vw, 48px);
}
.academy-header .academy-header__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.academy-header .academy-header__menu::-webkit-scrollbar {
  width: 0;
}
.academy-header .academy-header__menu .academy-header__menu-item {
  flex: 0 0 auto;
}
.academy-header .academy-header__menu .academy-header__menu-item_link {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.academy-header .academy-header__menu .academy-header__menu-item_link a {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 1.1vw, 24px);
  font-weight: 600;
  line-height: 1.75rem;
  color: #273461;
}

.academy-header__menu-item_link:hover::before {
  transform: scaleX(1);
  transition: transform ease-in-out 0.5s;
  transform-origin: right;
}

.academy-header__menu-item_link::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #273461;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform ease-in-out 0.5s;
}

.academy-info {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.academy-info__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
}
.academy-info__text h1 {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
  font-size: clamp(24px, 2vw, 48px);
}
.academy-info__text p {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 1.1vw, 24px);
  font-weight: 600;
  line-height: 1.75rem;
  color: #273461;
}
.academy-info__text button {
  width: 250px;
  height: 65px;
  border: 1px solid #273461;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  cursor: pointer;
  background-color: #fff;
}

.academy-info__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width < 900px) {
  .academy-info {
    display: flex;
    flex-direction: column;
  }
}
.academy-achievements {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
}

.academy-achievements__header {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
  font-size: clamp(24px, 2vw, 48px);
}

.academy-achievements__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-auto-rows: 15rem;
}

.academy-achievements__info-container {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 1rem;
  border: 1px solid rgba(17, 56, 100, 0.25);
}
.academy-achievements__info-container h1 {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
}

@media (width < 1000px) {
  .academy-achievements__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-auto-rows: 15rem;
  }
}
@media (width < 500px) {
  .academy-achievements__info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-auto-rows: 15rem;
  }
}
/*-----------Footer-----------*/
.footer {
  background-color: #262626;
  margin-top: 5rem;
}

.footer-container {
  padding: 0 20px;
  max-width: 1750px;
  margin: 0 auto;
}

.footer-container__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper-item__info {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  color: #fff;
}

.info-list1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.wrapper-item-app {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  position: relative;
}

.wrapper-item__pers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 0.78vw, 16px);
  font-weight: 400;
  line-height: 1.5rem;
  color: #273461;
  color: #fff;
}

@media (max-width: 800px) {
  .wrapper-item__pers {
    font-size: 10px;
  }
}
.logo {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(24px, 1.5vw, 32px);
  font-weight: 700;
  line-height: 2.5rem;
  color: #273461;
}

.logo-1 {
  color: #273461;
}

.logo-2 {
  color: #000;
}/*# sourceMappingURL=Arena-MainPage.css.map */